<ion-view view-title="Explore">

    <ion-content>



        <ul class="profile" style="margin-left:5%;">

            <li class="profile">

                <a href="#"><img src="img/Chorim.jpg"></a>

            </li>

            <li class="profile" style="list-style-type: none;">

                <a href="#"><img src="img/Jae.jpg"></a>

            </li>

            <li class="profile" style="list-style-type: none;">

                <a href="#"><img src="img/Jinyoung.jpg"></a>

            </li>

            <li class="profile" style="list-style-type: none;">

                <a href="#"><img src="img/jihye.jpg"></a>

            </li>

            <li class="profile" style="list-style-type: none;">

                <a href="#"><img src="img/huristijan.jpg"></a>

            </li>

            <li class="profile" style="list-style-type: none;">

                <a href="#"><img src="img/mike.png"></a>

            </li>

        </ul>



    </ion-content>

</ion-view>